.page-header {
    &__logo-image {
        position: absolute;
        left: 50px;
        top: -40px;
    }

    &__logo-link {
        text-decoration: none;
        color: $color-text-dark-blue;
        width: 170px;
        height: 65px;
        letter-spacing: 2px;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: $font-size-logo;
        font-family: $font-family-rochester;
        border: 3px solid $color-border-dark-blue;
        transition: 0.5s;
        box-sizing: border-box;

        &:hover {
            border: 3px solid $color-border-transparent;
            transition: 0.5s;
        }

        &::before {
            content: '';
            width: 170px;
            height: 3px;
            position: absolute;
            background: $color-border-dark-blue;
            bottom: 1px;
            transition: 1s;
            transform: scale(0);
        }

        &:hover::before {
            transform: scale(1);
        }
    }
}

@media (max-width: 540px) {
    .page-header { 
        &__logo-image {
            left: 30px;
            top: -26px;
        }
        &__logo-link {
            width: 120px;
            height: 45px;
            font-size: $font-size-logo-mobile;
            border: 2px solid $color-border-dark-blue;
    
            &:hover {
                border: 2px solid $color-border-transparent;
            }
    
            &::before {
                content: '';
                width: 120px;
                height: 2px;
            }

        }
    }
}