.main-section {
    &__container {
        max-width: 1200px;
        max-height: 750px;
        display: flex;
        flex-wrap: wrap;
        overflow-y: scroll;
        margin: 85px 25px 100px 25px;
    }

    &__photo {
        width: 320px;
        height: 320px;
        margin: 0 70px 70px 0;
        display: flex;
        cursor: pointer;
        text-decoration: none;
        transition: 0.5s;
        box-sizing: border-box;
        border: 0px solid $color-border-light-orange;
        &:hover,
        &--active {
            border: 8px solid $color-border-light-orange;
            text-shadow: 0px 0px 30px $color-text-light-black;
        }
    }
}

@media (max-width: 1300px) { 
    .main-section {
        &__container {
            max-width: 800px;
            max-height: 750px;
            margin: 120px 25px 100px 25px;
        }
    }
}

@media (max-width: 900px) { 
    .main-section {
        &__container {
            max-width: 400px;
            max-height: 550px;
        }
    }
}

@media (max-width: 540px) { 
    .main-section {
        &__photo {
            width: 240px;
            height: 240px;
            margin: 0 20px 40px 0;
        }
    }
}
