.main-wrapper {
    max-height: 1200px;
    background-color: $color-background-light-green;
    margin: 80px 10px 0 10px;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
}