.social-section {
    font-size: $font-size-footer-item;
    font-family: $font-family-roboto;
    letter-spacing: 1.4px;
    color: $color-text-light-blue;
    display: flex;

    &__items {
        display: flex;
    }
}

@media (max-width: 540px) {
    .social-section {
        margin: 30px 0 0 0;
    }
}

.svg-icon {
    display: block;
    font-size: 0px;
    color: $color-text-transparent;
    width: 16px;
    height: 16px;
    margin: 0 0 0 15px;
    opacity: 0.4;
    transition: 0.2s;

    &:hover {
        opacity: 1;
    }
}